<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='index/css/style.css')}}"
    />
    <title>Portfolio Website</title>
  </head>

  <body>
    <nav>
      <div class="nav-container">
        <div class="logo" data-aos="zoom-in" data-aos-duration="1500">
          Grandy <span>Samie</span>
        </div>
        <div class="links">
          <div
            class="link active"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="100"
          >
            <a href="#home">Home</a>
          </div>
          <div
            class="link"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="200"
          >
            <a href="#about">About</a>
          </div>
          <div
            class="link"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="300"
          >
            <a href="#skill">Skills</a>
          </div>
          <div
            class="link"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="300"
          >
            <a href="#project">Project</a>
          </div>
          <div
            class="link"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="500"
          >
            <a href="#contact">Contact</a>
          </div>
        </div>
      </div>

      <i class="fa-solid fa-bars hamburg" onclick="hamburg()"></i>

      <div class="dropdown">
        <div class="links">
          <a href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#skill">Skills</a>
          <a href="#project">project</a>
          <a href="#contact">Contact</a>
          <i class="fa-solid fa-xmark cancel" onclick="cancel()"></i>
        </div>
      </div>
    </nav>

    <section id="home">
      <div class="main-container">
        <div class="content">
          <h1
            data-aos="fade-left"
            data-aos-duration="1500"
            data-aos-delay="700"
          >
            Hey I'm <span>Grandy</span>
          </h1>
          <div
            data-aos="fade-right"
            data-aos-duration="1500"
            data-aos-delay="900"
            class="typewriter"
          >
            I'm a <span class="typewriter-text"></span><label for="">|</label>
          </div>

          <p
            data-aos="flip-down"
            data-aos-duration="1500"
            data-aos-delay="1100"
          >
            I am a student at SMKN 2 Cimahi who is currently studying master the
            basics of programming, web development, and creating modern
            applications. I aspire to become a professional developer in the web
            and application field.
          </p>

          <div class="social-links">
            <a
              href=""
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-delay="1300"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a
              href="https://github.com/rrnnndii"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-delay="1400"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              href="https://www.tiktok.com/@ellrendi"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-delay="1500"
              ><i class="fa-brands fa-tiktok"></i
            ></a>
            <a
              href="https://www.instagram.com/rrnnndii_"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-delay="1600"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </div>

          <div
            class="btn"
            data-aos="zoom-out"
            data-aos-duration="1500"
            data-aos-delay="1800"
          >
            <button>Download CV</button>
          </div>
        </div>

        <section class="intro-image" aria-label="Portrait of web designer">
          <img
            src="{{url_for('static',filename='index/img/rendi4.png')}}"
            alt="Portrait of a confident bearded man with hat and glasses wearing a teal sweater and scarf with arms crossed on black background"
            loading="lazy"
          />
        </section>
      </div>
    </section>

    <section id="about">
      <div class="about-container">
        <div class="about-content" id="aboutContent">
          <div
            class="about-header"
            data-aos="fade-down"
            data-aos-duration="1500"
          >
            <h1>About Me</h1>
          </div>
          <div class="about-grid">
            <div
              class="about-image"
              data-aos="fade-right"
              data-aos-duration="1500"
            >
              <img
                src="{{url_for('static',filename='index/img/rendi6.png')}}"
                alt="About Image"
              />
            </div>
            <div
              class="about-text"
              data-aos="fade-left"
              data-aos-duration="1500"
            >
              <h2>Who Am I?</h2>
              <p>
                I am a student at SMKN 2 Cimahi who is currently studying master
                the basics of programming, web development, and creating modern
                applications. I aspire to become a professional developer in the
                web and application field.
              </p>

              <div class="info-list">
                <ul>
                  <li><strong>Name</strong><span>: Grandy Samie El</span></li>
                  <li><strong>Age</strong><span>: 17</span></li>
                  <li><strong>Address</strong><span>: Cimahi</span></li>
                  <li>
                    <strong>Phone</strong><span>: +62 896 3704 1823</span>
                  </li>
                  <li>
                    <strong>e-mail</strong
                    ><span>: grandyghifari@gmail.com</span>
                  </li>
                  <li><strong>Status</strong><span>: Student</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="skill">
      <div class="skills-container">
        <div class="skills-content">
          <div
            class="skills-header"
            data-aos="fade-down"
            data-aos-duration="1500"
          >
            <h1>My Skills</h1>
          </div>
          <div class="skills-grid">
            <div
              class="skill-category"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-delay="100"
            >
              <div class="skill-icon">
                <i class="fa fa-car"></i>
              </div>
              <h2>Frontend Development</h2>
              <div class="skill-list">
                <div class="skill-item">
                  <div class="skill-info">
                    <h3>HTML</h3>
                    <span>40%</span>
                  </div>
                  <div class="progress-bar">
                    <div class="progress" style="width: 40%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <div class="skill-info">
                    <h3>CSS</h3>
                    <span>50%</span>
                  </div>
                  <div class="progress-bar">
                    <div class="progress" style="width: 50%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <div class="skill-info">
                    <h3>JavaScript</h3>
                    <span>15%</span>
                  </div>
                  <div class="progress-bar">
                    <div class="progress" style="width: 15%"></div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="skill-category"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-delay="300"
            >
              <div class="skill-icon">
                <i class="fas fa-database"></i>
              </div>
              <h2>Backend Development</h2>
              <div class="skill-list">
                <div class="skill-item">
                  <div class="skill-info">
                    <h3>PHP</h3>
                    <span>80%</span>
                  </div>
                  <div class="progress-bar">
                    <div class="progress" style="width: 80%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <div class="skill-info">
                    <h3>Database</h3>
                    <span>42%</span>
                  </div>
                  <div class="progress-bar">
                    <div class="progress" style="width: 42%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <div class="skill-info">
                    <h3>Python</h3>
                    <span>55%</span>
                  </div>
                  <div class="progress-bar">
                    <div class="progress" style="width: 55%"></div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="skill-category"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-delay="500"
            >
              <div class="skill-icon">
                <i class="fas fa-paint-brush"></i>
              </div>
              <h2>Design Tools</h2>
              <div class="skill-list">
                <div class="skill-item">
                  <div class="skill-info">
                    <h3>Photoshop</h3>
                    <span>25%</span>
                  </div>
                  <div class="progress-bar">
                    <div class="progress" style="width: 25%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <div class="skill-info">
                    <h3>Figma</h3>
                    <span>65%</span>
                  </div>
                  <div class="progress-bar">
                    <div class="progress" style="width: 65%"></div>
                  </div>
                </div>
                <div class="skill-item">
                  <div class="skill-info">
                    <h3>Adobe XD</h3>
                    <span>20%</span>
                  </div>
                  <div class="progress-bar">
                    <div class="progress" style="width: 20%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="project">
      <div class="project-container">
        <div class="project-content">
          <div
            class="project-header"
            data-aos="fade-right"
            data-aos-duration="1500"
          >
            <h1>My Project</h1>
          </div>
          <div
            class="project-box"
            data-aos="fade-right"
            data-aos-duration="1500"
            data-aos-delay="500"
          >
            <div
              class="box"
              data-aos="zoom-out"
              data-aos-duration="1500"
              data-aos-delay="500"
              onclick="location.href='/project'"
            >
              <i class="fa-brands fa-python"></i>
              <a href="/project"><h3>Python Flask</h3></a>
              <p>
                Project ini adalah aplikasi web sederhana menggunakan Flask,
                framework Python yang ringan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="contact-container">
        <div class="contact-content">
          <div class="contact-info">
            <div
              class="contact-header"
              data-aos="fade-right"
              data-aos-duration="1500"
            >
              <h1>Get in Touch</h1>
              <p>
                Feel free to reach out to me for any questions or opportunities.
              </p>
            </div>

            <div class="contact-details">
              <div
                class="contact-item"
                data-aos="fade-right"
                data-aos-duration="1500"
                data-aos-delay="200"
              >
                <div class="contact-icon">
                  <i class="fas fa-phone"></i>
                </div>
                <div class="contact-text">
                  <h3>Phone</h3>
                  <p>+62 896 3704 1823</p>
                </div>
              </div>

              <div
                class="contact-item"
                data-aos="fade-right"
                data-aos-duration="1500"
                data-aos-delay="400"
              >
                <div class="contact-icon">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="contact-text">
                  <h3>Email</h3>
                  <p>grandyghifari@gmail.com</p>
                </div>
              </div>

              <div
                class="contact-item"
                data-aos="fade-right"
                data-aos-duration="1500"
                data-aos-delay="600"
              >
                <div class="contact-icon">
                  <i class="fas fa-location-dot"></i>
                </div>
                <div class="contact-text">
                  <h3>Location</h3>
                  <p>Cimahi, Indonesia</p>
                </div>
              </div>
            </div>

            <div
              class="social-links"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-delay="800"
            >
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
              <a href="#"><i class="fab fa-tiktok"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>

          <div
            class="contact-form"
            data-aos="fade-left"
            data-aos-duration="1500"
            data-aos-delay="200"
          >
            <form action="https://formspree.io/f/mwppavbk" method="POST">
              <div class="form-group">
                <input type="text" id="name" name="name" required />
                <label for="name">Your Name</label>
              </div>

              <div class="form-group">
                <input type="email" id="email" name="email" required />
                <label for="email">Your Email</label>
              </div>

              <div class="form-group">
                <input type="text" id="subject" name="subject" required />
                <label for="subject">Subject</label>
              </div>

              <div class="form-group">
                <textarea id="message" name="message" required></textarea>
                <label for="message">Your Message</label>
              </div>

              <button type="submit" class="submit-btn">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({ offset: 0 });
    </script>
    <script src="../static/index/js/script.js"></script>
  </body>
</html>
